@media screen and (max-width:992px){
    label.logo img{
        font-size: 30px;
        padding-left:5px ;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media screen and (max-width:600px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #b7c9db;
        top: 120px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .button-section{
        flex-direction: column;
    }
    .banner-description{
        width: 100%;
    }
    .popular-section{
        flex-direction: column;
    }
    .popular-contant-section{
        width: 96%;
    }
    .destination-img-section img{
        width: 400px;
        height: 200px;
        margin-left: 5px;
    }
    .img-one{
        grid-column: 1 /span 12;
    }
    .img-two{
        grid-column: 1 /span 12;
    }
    .img-three{
        grid-column: 1 /span 12;
    }
    .img-four{
        grid-column: 1 /span 12;
    }
    .img-five{
        grid-column: 1 /span 12;
    }
    .img-six{
        grid-column: 1 /span 12;
    }
    .img-seven{
        grid-column: 1 /span 12;
    }
    .destination-description{
        padding: 10px;
    }
    .destination-title{
        font-size: 1.25rem;
    }
    .choose-part-one{
        grid-column: 1/span 12;
        width: 90%;
        margin: 0 auto;
    }
    .choose-part-two{
        grid-column: 1/span 12;
        width: 90%;
        margin: 0 auto;
    }
    .choose-part-three{
        grid-column: 1/span 12;
        width: 90%;
        margin: 0 auto;
    }
    .simple-place-section{
        flex-direction: column;
        padding: 20px;
    }
    .place-title{
        font-size: 2rem;
    }
    .subscribe-section{
        flex-direction: column;
        padding: 10px;
    }
     .subscribe-form-section{
        width: 100%;
    } 
    .subscribe-img-section{
        position: relative;
    }
    .save-up{
        position: absolute;
        top: 140px;
        left: 190px;
    }
    .discount{
        margin-bottom: 20px;
    }
    .footer-logo-section{
        display: flex;
        margin-left:70px ;
        padding: 10px;
    }
    .icon{
        margin-left: 80px;
        padding: 10px;
    }
    .footer-section hr{
        margin-left: 60px;
    }
    .copy-right{
        margin: 70px;
        padding-bottom: 30px;
    }
}